* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Mandali", sans-serif;
}
/* General and Commons */
section.feature {
  height: 90vh;
  /* background-color: rgb(165, 252, 185); */
}

section img {
  width: 70%;
}

.feature .container  {
  display: flex;
  align-items: center;
  /* background-color: azure; */
  height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: rgb(148, 141, 141); */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav .navLogo {
    font-size: 30px;
}


header {
    color: #fff;
    background: url(../img/headerBanner.png);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

header .downloadBtn {
    margin: 10px;
    height: 50px;
    width: 150px;
    padding: 5px;
}

#whyChooseUs {
  height: 80vh;
  display: flex;
  align-items: center;
}

#whyChooseUs h2 {
  padding: 30px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#whyChooseUs p {
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.featureBtn {
    background-color: #11b155; 
    color: #fff; 
    padding: 10px; 
    border: none; 
    width: 200px; 
    border-radius: 10px;
}

#footerCTA {
  height: 300px;
  background-color: #34495e;
}

footer {
  /* background-color: #11b155; */
  background-color: #2c3e50;
  color: aliceblue;
  padding: 5px;
}

footer .container {
  margin-top: 10px;
}
