* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Mandali", sans-serif;
}
/* General and Commons */
section.feature {
  height: 100vh;
  /* background-color: rgb(165, 252, 185); */
}

section img {
  width: 70%;
}

.feature .container  {
  display: flex;
  align-items: center;
  /* background-color: azure; */
  height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: rgb(148, 141, 141); */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  /* background-color: #04aa6d; */
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav .navLogo {
    font-size: 30px;
}


header {
    color: #fff;
    background: url(../img/headerBanner2.png);
    height: 110vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    clip-path: ellipse(100% 55% at 48% 44%);
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

header .downloadBtn {
    margin: 10px;
    height: 50px;
    width: 150px;
    padding: 5px;
    box-shadow: 7px 5px 14px 0px rgba(8, 145, 19, 0.75);
    /* -webkit-box-shadow: 7px 5px 14px 0px rgba(156, 156, 156, 0.75); */
    /* -moz-box-shadow: 7px 5px 14px 0px rgba(156, 156, 156, 0.75); */
}

#whyChooseUs {
  height: 100vh;
  display: flex;
  align-items: center;
}

#whyChooseUs h2 {
  padding: 30px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#whyChooseUs p {
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.featureBtn {
    background-color: #11b155; 
    color: #fff; 
    padding: 10px; 
    border: none; 
    width: 200px; 
    border-radius: 10px;
}

#footerCTA {
  height: 300px;
  background-color: #34495e;
  display: flex;
  align-items: center;
  color: #fff;

}
ul.listFeature {
    margin-top: 30px;
}
ul.listFeature li {
    padding: 8px 0px;
    list-style: none;
    font-size: 20px;
    margin-left: -30px;
}

#footerCTA h4{
}

#footerCTA li {
    font-size: 15px;
    list-style-type: none;
    font-weight: 200;
    margin-left: -30px;
}

#footerCTA li a {
    color: #fff;
    text-decoration: none;
}

footer {
  /* background-color: #11b155; */
  background-color: #2c3e50;
  color: aliceblue;
  padding: 5px;
}

footer .container {
  margin-top: 10px;
}
